// :root {
//   --el-color-primary: red;
// }

html,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  // color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

//全局公共样式
.form-panel {
  background-color: white;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.table-panel {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content,
.page-container {
  // 整个滚动条
  &::-webkit-scrollbar {
    width: 8px;
    &:horizontal {
      height: 6px;
    }
  }
  // 滚动条上的滚动滑块
  &::-webkit-scrollbar-thumb {
    background-color: $base-scroll-color;
    border-radius: 6px;
    &:hover {
      background-color: $base-scroll-active-color;
    }
  }
  // 滚动条上的按钮
  &::-webkit-scrollbar-button {
    display: none;
    &:horizontal {
      display: none;
    }
  }
  // 滚动条轨道
  &::-webkit-scrollbar-track {
  }
  // 滚动条没有滑块的轨道部分
  &::-webkit-scrollbar-track-piece {
  }
  // 当同时有垂直滚动条和水平滚动条时交汇的部分
  &::-webkit-scrollbar-corner {
  }
  //  某些元素的corner部分的部分样式(例:textarea的可拖动按钮)
  &::-webkit-resizer {
  }
}
