// :root {
//   --el-color-primary: red;
// }

html,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  // color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}
