// :root {
//   --el-color-primary: red;
// }

html,
body,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  // color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}

//全局公共样式
.form-panel {
  background-color: white;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.table-panel {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
