$default-color: #409eff;
$vue-logo-foreground: #42b883;
$vue-logo-background: #35495e;
$nav-bg-color: #fff;
$menu-bg-color: #fff;
$icon-color: #00e0b4;
$scroll-color: #00e0b4;
$scroll-active-color: #42b883;
