@import "../var";
$--colors: (
  "primary": (
    "base": green,
  ),
  "success": (
    "base": #21ba45,
  ),
  "warning": (
    "base": #f2711c,
  ),
  "danger": (
    "base": #db2828,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #42b8dd,
  ),
);

// You should use them in scss, because we calculate it by sass.
// comment next lines to use default color
// @forward "element-plus/theme-chalk/src/common/var.scss" with
//   (
//     // do not use same name, it will override.
//     $colors: $--colors,
//     $button-padding-horizontal: ("default": 50px)
//   );

// if you want to import all
// @use "element-plus/theme-chalk/src/index.scss" as *;

// You can comment it to hide debug info.
// @debug $--colors;

//element-plus颜色定制化
:root {
  --el-color-primary: #00e0b4;
}
.el-button--primary {
  $base-color-default: #00e0b4;
  --el-button-background-color: #00e0b4;
  --el-button-font-color: #ffffff;
  --el-button-border-color: #00e0b4;
  --el-button-hover-color: rgb(0, 255, 208);
  --el-button-active-font-color: #e6e6e6;
  --el-button-active-background-color: #00e0b4;
  --el-button-active-border-color: #00e0b4;
}

.el-button--primary.is-plain {
  color: var(--el-button-background-color);
  background-color: #defff9;
  border-color: #00e3b9;
}

//dialog样式
.el-dialog {
  border-radius: 12px;
  border: none;
  overflow: hidden;
}
.el-dialog__header {
  background: url("@/assets/image/dialogTitle.png") no-repeat;
  background-size: 100% 100%;
}
.el-dialog__title {
  color: white;
  line-height: var(--el-dialog-font-line-height);
  font-size: var(--el-dialog-title-font-size);
}
